---
//@ts-nocheck
const employeesData = await fetch("https://frontend-design-theme.netlify.app/api/employees")
  .then((response) => response.json())
  .then((data) => data.slice(0, 3));

import Bubble from "./Bubble.astro";
---

<section>
  <div class="text">
    <Bubble text="OUR TEAM" variant="primary" />
    <h2>We champion the bold to achieve the extraordinary</h2>
    <p>
      Our success stems from the synergy between dedicated teams and our valued clients. We prioritize a company culture that fosters exceptional productivity, ensures customer satisfaction, and
      promotes mutual respect among all team members.
    </p>
  </div>
  <div class="employees">
    <ul>
      {
        employeesData.map((employee, index) => (
          <li>
            <img src={employee.img} alt={employee.name} class="employee-img" />

            <h3 class="employee-name">{employee.name}</h3>

            <Bubble text={employee.title} variant={index === 0 ? "primary" : "secondary"} />

            <p class="employee-description">{employee.description}</p>

            <div class="social-links">
              {employee.social_links.map((social) => (
                <a href={social.url} class="social-link" aria-label={social.platform}>
                  <div innerHTML={social.icon} />
                </a>
              ))}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  @layer components {
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
      .text {
        grid-column: 2;
      }
      .employees {
        grid-column: content;
        grid-row: 2;
        ul {
          display: flex;
          list-style: none;
          gap: 3rem;
          align-items: center;
          justify-content: center;
          text-align: center;
          li {
            img {
              border-radius: var(--button-radius);
            }
            h3 {
              font-size: var(--xxs-font);
              font-weight: 600;
            }
            .employee-description {
              color: var(--accent-color-second);
            }
          }
        }
      }
    }
  }
</style>
