---
//@ts-nocheck

const valuesData: ValuesData = await fetch("https://frontend-design-theme.netlify.app/api/coreValues").then((response) => response.json());
const { variant = "secondary" } = Astro.props;
import Button from "./Button.astro";
---

<section data-variant={variant} class="full-bleed">
  <div class="top">
    <div class="text">
      <p class="title">GROWING WITH OUR CLIENTS</p>
      <h2>Our core values & principles</h2>
      <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
    </div>
    <div class="button">
      <Button URL="#0" variant={variant === "primary" ? "secondary" : "tertiary"}>Get in touch</Button>
    </div>
  </div>
  <div class="grid">
    <ul>
      <!-- {
        valuesData.values.map((value) => (
          <li>
            <svg src={`src/icons/${value.icon}.svg`} alt="" />
            <h2>{value.title}</h2>
            <p>{value.description}</p>
            <a href={value.link.url}>{value.link.text}</a>
          </li>
        ))
      } -->

      {
        valuesData.values.map(async (value) => {
          const Icon = await import(`../icons/${value.icon}.svg`).then((module) => module.default);

          return (
            <li>
              <div class="svg-wrapper">
                <Icon />
              </div>
              <h2>{value.title}</h2>
              <p>{value.description}</p>
              <a href={value.link.url}>{value.link.text}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<style>
  @layer components {
    [data-variant="primary"] {
      display: grid;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      padding: 3rem;
      grid-column: 1/-1;

      .top {
        display: flex;

        justify-content: space-between;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        h2 {
          font-size: var(--xs-font);
          font-weight: 700;
        }
        .title {
          background-color: var(--yellow-button);
          color: var(--primary-color);
          border-radius: var(--box-radius);
          padding: 0.2rem 1rem;
          width: fit-content;
          margin-bottom: 0.5rem;
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .grid {
        display: grid;
        grid: auto / repeat(4, 1fr);
        gap: 1rem;
        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: var(--content-width);
          li {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            max-width: 250px;
            background-color: var(--third-color);
            border-radius: var(--button-radius);
            color: var(--primary-color);

            .svg-wrapper {
              background-color: var(--primary-color);
              border-radius: var(--box-radius);
              padding: 0.5rem;
              display: inline-flex;
              width: fit-content;
            }

            svg {
              width: 2rem;
              height: 2rem;
              display: block;
              color: var(--third-color);
            }
            h2 {
              font-size: var(--xxs-font);
            }
            p {
              margin-top: 1rem;
              margin-bottom: 1rem;
            }
            a {
              text-decoration: none;
              color: var(--primary-color);
            }
          }
        }
      }
    }

    [data-variant="secondary"] {
      display: grid;
      background-color: var(--primary-color);
      color: var(--third-color);
      padding: 3rem;
      grid-column: 1/-1;

      .top {
        padding-inline: 3rem;
        display: flex;

        justify-content: space-between;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        h2 {
          font-size: var(--xs-font);
          font-weight: 700;
        }
        .title {
          background-color: var(--yellow-button);
          color: var(--primary-color);
          border-radius: var(--box-radius);
          padding: 0.2rem 1rem;
          width: fit-content;
          margin-bottom: 0.5rem;
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .grid {
        display: grid;
        grid: auto / repeat(4, 1fr);
        gap: 1rem;
        ul {
          list-style: none;
          display: flex;
          gap: 3rem;
          width: var(--content-width);
          justify-content: center;
          li {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            max-width: 250px;
            background-color: var(--third-color);
            border-radius: var(--button-radius);
            color: var(--primary-color);
            .svg-wrapper {
              background-color: var(--primary-color);
              border-radius: var(--box-radius);
              padding: 0.5rem;
              display: inline-flex;
              width: fit-content;
            }

            svg {
              width: 2rem;
              height: 2rem;
              display: block;
              color: var(--third-color);
            }
            h2 {
              font-size: var(--xxs-font);
            }
            p {
              margin-top: 1rem;
              margin-bottom: 1rem;
            }
            a {
              text-decoration: none;
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
</style>
